@import './base.css';

#app {
  margin: 0;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    color: #aa38ac;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    
    padding: 0 2rem;
  }
}
